.table-wrapper {
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    .kill-table {
        width: 100%;
        background-color: rgb(26,26,26);
        border-collapse: collapse;
        tbody {
            tr {
                border-bottom: 1px solid rgb(135, 135, 135);
                th, td {
                    padding: 1rem;
                    height: 48px;
                    text-align: left;
                    .disabled {
                        filter: grayscale(1);
                    }
                }  
                @media (max-width: 800px) {
                    td {
                        margin: 0;
                    }
                    td:nth-child(5), td:nth-child(3), th:nth-child(5), th:nth-child(3) {
                        display: none;
                    }
                }
                .tier {
                    text-align: center;
                    font-size: 1.2rem;
                }
                .boss {
                    color: #0093E9;
                }
                .uncommon {
                    color: #1EFF00;
                }
                .rare {
                    color: #0070DD;
                }
                .epic {
                    color: #A335EE;
                }
                .legendary {
                    color: #FF8000;
                }
            }
        }
    }

}